.width_50 {
  width: 50%;
}
.font_border {
  font-weight: bolder;
}
.display_flex {
  display:flex;
  justify-content: center;
}
.padding_left {
  margin-left: 5px;
}
.padding_top20 {
  padding-top: 20px;
}